.copyright {
  background-color: darkslateblue;
  font-size: larger;
  font-style: oblique;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  padding: 4px;
  margin: 0%;
}

body {
  margin-left: 0%;
  background-color: darkgray;
}

.container {
  background-color: lightblue;
  border-radius: 10%;
}

.describe {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

h2 {
  text-align: center;
  color: black;
  font-style: italic;
  text-decoration: gold;
  text-shadow: black;
  text-decoration-line: overline;
}
